@model List<lib.Item>

@{
    ViewData["Title"] = "ImportData";
}

<div class="grid-x full-height">
    <div class="grid-y full-height">
        <div class="grid-x grid-margin-x">
            <div class="cell shrink">

                <div class="input-group">
                    <div class="input-group-label">Source Platform:</div>
                    <div>
                        <select class="input-group-field" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                            <option value="/item/importebay" selected="@( ViewBag.Selected == "ebay" )" >eBay</option>
                            <option value="/item/importposhmark" selected="@( ViewBag.Selected == "poshmark" )">Poshmark</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="cell shrink">
                <div class="input-group">
                    <div class="input-group-label">Filter:</div>
                    <div>
                        <input class="input-group-field" placeholder="Keyword" type="text" />
                    </div>
                </div>
            </div>
            <div class="cell shrink">
                <div class="input-group">
                    <input type="submit" class="button" value="Refresh List">
                    <div class="input-group-label">Last Refreshed: 2020-07-20 14h30</div>
                    <a href="/item/importselected">
                        <input type="submit" class="button" value="Import Selected">
                    </a>
                    <asp:Button Text="Import Selected" runat="server" OnClick="ImportSelected"/>
                </div>
            </div>
        </div>
        <div class="cell medium-6 medium-cell-block">
            <!-- Main data section -->
            <table class="scroll">
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>Flag</th>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Listings</th>
                        <th>SKU</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Created</th>
                        <th>Has Offer</th>
                        @*<th>Shares</th>
                        <th>Likes</th>
                        <th>Comments</th>*@
                        <th>Follow-up Link</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" value="@item.ID"></td>
                            <td>@item.Status</td>
                            <td><img class="thumb40" src="@item.MainImageURL"></td>
                            <td><a href="../item/edit" target="_blank">@item.Title</a></td>
                            <td>
                                <a href="@item.URL"
                                   target="_blank">
                                    <img src="../images/poshmark-thumb.png">
                                </a>
                            </td>
                            <td>N/A</td>
                            <td>$@item.Price</td>
                            <td>@item.Stock</td>
                            <td>@item.Date</td>
                            <td>@item.HasOffer</td>
                            @*<td>@item.Shares</td>
                            <td>@item.Likes</td>
                            <td>@item.Comments</td>*@
                            <td><a href="@item.URL" target="_blank">Poshmark Sale</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>@ViewBag.EmptyInventoryMessage</p>
        </div>
        <div class="cell resizable-up-panel-handle">...</div>
        <div class="cell">
            <div class="grid-container fluid">
                <div class="grid-x grid-padding-x">
                    <div class="large-12 cell">
                        <div class="callout">
                            <h3>Sony Remote Control RMT-811</h3>
                            <p>
                                Genuine Sony Camcorder Camera Remote Control RMT-811 Tested And
                                Works<br />
                                Model: RMT-811<br />
                                Good preowned condition. Tested and works. Remote may show some signs of
                                wear and use.<br />
                                Batteries Not Included
                            </p>
                            <div class="grid-x grid-padding-x">
                                <div class="large-4 medium-4 cell">
                                    <p>
                                        <strong>Category</strong><br />
                                        Electronics->Remote Controls
                                    </p>
                                </div>
                                <div class="large-4 medium-4 cell">
                                    <p>
                                        <strong>Color</strong><br />
                                        Black
                                    </p>
                                </div>
                                <div class="large-4 medium-4 cell">
                                    <p>
                                        <strong>Quantity Price</strong><br />
                                        1 $7.99
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cell resizable-left-panel-handle"></div>
    <div class="cell full-height medium-auto medium-cell-block-container">
        <div class="grid-y full-height">
            <!-- Main data section -->
            <div class="grid-x grid-margin-x align-middle">
                <div class="cell shrink">
                    <h4>TreeCat Lookup</h4>
                </div>
                <div class="cell shrink">
                    <div class="input-group">
                        <div class="input-group-label">Filter:</div>
                        <div>
                            <input class="input-group-field" placeholder="Keyword" type="text" />
                        </div>
                    </div>
                </div>
                <div class="cell shrink">
                    <input type="submit" class="button " value="Find Potential Matches">
                </div>
                <div class="cell shrink">
                    <input type="submit" class="button " value="Link Selected" disabled>
                </div>
            </div>
            <div class="cell medium-6 medium-cell-block">
                <table class="scroll">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Listings</th>
                            <th>TreeCat SKU</th>
                            <th>Qty</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="radio" checked></td>
                            <td>
                                <img class="thumb40" src="../../wwwroot/images/Sony_remote controle 2.jpg">
                            </td>
                            <td>Sony Remote Control RMT-811</td>
                            <td>
                                <img src="../../wwwroot/images/etsy-thumb.png">
                            </td>
                            <td>RSW003</td>
                            <td>1</td>
                            <td>2020-04-02</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="cell resizable-up-panel-handle">...</div>
            <div class="cell">
                <div class="grid-container fluid">
                    <div class="grid-x grid-padding-x">
                        <div class="large-12 cell">
                            <div class="callout">
                                <h3>Sony Remote Control RMT-811</h3>
                                <p>
                                    Genuine Sony Camcorder Camera Remote Control RMT-811 Tested And
                                    Works<br />
                                    Model: RMT-811<br />
                                    Good preowned condition. Tested and works. Remote may show some signs of
                                    wear and use.<br />
                                    Batteries Not Included
                                </p>
                                <div class="grid-x grid-padding-x">
                                    <div class="large-4 medium-4 cell">
                                        <p>
                                            <strong>Category</strong><br />
                                            Electronics->Remote Controls
                                        </p>
                                    </div>
                                    <div class="large-4 medium-4 cell">
                                        <p>
                                            <strong>Color</strong><br />
                                            Black
                                        </p>
                                    </div>
                                    <div class="large-4 medium-4 cell">
                                        <p>
                                            <strong>Quantity Price</strong><br />
                                            1 $7.99
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

