<!-- Controls -->
<div class="cell shrink medium-cell-block-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell shrink">
            <div class="input-group">
                <span class="input-group-label">Bulk Actions</span>
                <select class="input-group-field">
                    <option value="bulk_delete">Bulk Delete</option>
                    <option value="bulk_edit">Bulk Edit</option>
                    <option value="bulk_unlist_everywhere">Unlist Everywhere</option>
                    <option value="bulk_relist">Relist on Same Platforms</option>
                </select>
            </div>
        </div>
        <div class="cell shrink">
            <div class="input-group">
                <span class="input-group-label">Platform Filter</span>
                <select class="input-group-field">
                    <option value="*">All</option>
                    <option value="amazon">Amazon</option>
                    <option value="ebay">eBay</option>
                    <option value="etsy">Etsy</option>
                    <option value="poshmark">Poshmark</option>
                    <option value="mercari">Mercari</option>
                    <option value="emag">Emag</option>
                </select>
            </div>
        </div>
        <div class="cell shrink">
            <div class="input-group">
                <span class="input-group-label">Show</span>
                <select class="input-group-field">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span class="input-group-label">Rows</span>
            </div>
        </div>
        <div class="cell shrink">
            <div class="primary button-group">
                <a class="button"><i class="fi-arrow-up" style="font-size: 24px"></i></a>
                <a class="button"><i class="fi-arrow-down" style="font-size: 24px"></i></a>
            </div>
        </div>
        <div class="cell shrink">
            <div class="input-group">
                <input class="input-group-field" placeholder="Search" type="text" />
                <select class="input-group-field">
                    <option value="*">All Fields</option>
                    <option value="Title">Title</option>
                    <option value="SKU">SKU</option>
                    <option value="Description">Description</option>
                </select>
                <div class="input-group-button">
                    <button type="button" class="button full-height float-right">
                        <i class="fi-magnifying-glass" style="font-size: 14px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cell full-height medium-auto medium-cell-block-container">
	<!-- Main data section -->

	<table class="scroll">
		<thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>Flag</th>
                <th>Image</th>
                <th>Product Name</th>
                <th>Listings</th>
                <th>SKU</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Created</th>
                <th>Has Offer</th>
                <th>Shares</th>
                <th>Likes</th>
                <th>Comments</th>
                <th>Follow-up Link</th>
            </tr>
		</thead>
        <tbody>
            @foreach (var item in ViewBag.Items)
            {
                <tr>
                    <td><input type="checkbox"></td>
                    <td>@item.Status</td>
                    <td><img class="thumb40" src="@item.Images[0]"></td>
                    <td><a href="../item/edit" target="_blank">@item.Title</a></td>
                    <td>
                        <a href="https://www.ebay.com/itm/Genuine-Sony-Camcorder-Camera-Remote-Control-RMT-811-Tested-And-Works/184131178352?hash=item2adf12cf70:g:T~MAAOSwQLZeIPp8:sc:USPSFirstClass!02465!US!-1&autorefresh=true"
                            target="_blank">
                            <img src="../images/ebay-thumb.png">
                        </a>
                        <a href="https://www.etsy.com/listing/489851311/universal-portable-remote-control?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=remote+control&ref=sr_gallery-1-10&organic_search_click=1"
                            target="_blank">
                            <img src="../images/etsy-thumb.png">
                        </a>
                        <a href="@item.URL"
                            target="_blank">
                            <img src="../images/poshmark-thumb.png">
                        </a>
                    </td>
                    <td>RSW003</td>
                    <td>$@item.Price</td>
                    <td>@item.Quantity[0]</td>
                    <td>@item.Date</td>
                    <td>@item.HasOffer</td>
                    <td>@item.Shares</td>
                    <td>@item.Likes</td>
                    <td>@item.Comments</td>
                    <td><a href="@item.URL" target="_blank">Poshmark Sale</a></td>
                </tr>
            }
        </tbody>
	</table>

</div>