@using ui_agent.Models

@{
    ViewData["Title"] = "Items";
}
<div class="grid-x full-height">
    <div class="cell medium-2 medium-cell-block-y">
        <div class="grid-y full-height">
            <fieldset class="large-7 cell">
                <legend>Sync Options</legend>
                <input id="unpublished" type="checkbox"><label for="unpublished">Import unpublished items</label><br />
                <input id="nostock" type="checkbox"><label for="nostock">Import items that have 0 stock</label><br />
                <input id="descriptionsAsHTML" type="checkbox"><label for="descriptionsAsHTML">Descriptions as HTML</label>
            </fieldset>
            <fieldset class="large-5 cell">
                <legend>Import Behavior</legend>
                <input type="radio" name="behavior" value="smart" id="behaviorSmart"><label for="behaviorSmart">Smart Merge</label><br />
                <input type="radio" name="behavior" value="ignore" id="behaviorIgnore" required><label for="behaviorIgnore">Ignore Duplicates</label><br />
                <input type="radio" name="behavior" value="overwrites" id="behaviorOverwrite"><label for="behaviorOverwrite">Overwrite Duplicates</label>
            </fieldset>
        </div>
    </div>
    <div class="cell resizable-left-panel-handle"></div>
    <div class="cell auto medium-cell-block-y">
        <form>
            <div class="grid-container">
                <div class="grid-y">
                    <div class="cell">
                        <table>
                            <tr>
                                <td>Title</td>
                                <td>Description</td>
                                <td>ID</td>
                                <td>Price</td>
                                <td>Status</td>
                                <td>Stock</td>
                            </tr>

                            @foreach (var item in ViewBag.Items)
                            {
                                <tr>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @Html.Raw(@item.Description)
                                    </td>
                                    <td>
                                        @item.ID
                                    </td>
                                    <td>
                                        @item.Price
                                    </td>
                                    <td>
                                        @item.Status
                                    </td>
                                    <td>
                                        @item.Stock
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
